<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta />
    <title>Reciept</title>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/sellProduct.css" type="text/css"/>
    <link rel="stylesheet" href="/css/searchBar.css" type="text/css" />
    
  </head>
  <body>
    <div class="container">
      <!-- ```This is for header -->
      <%- include('include/header.ejs') %>
      <div class="content">
        <!-- This is foor left Nav -->
        <%- include('include/left.ejs') %>
        <div class="content-middle">
        <form action="/admin/billingProduct" method="post">
          <table class="middle-table">
            <tr>
              <td>    Product Name  </td>
              <td> <input name="productName" type="text" value=" <%= product.productName %>" disabled>  </td>
            </tr>
            <tr>
                <td>    Product Price  </td>
                <td > <input name="prouductMrp" type="text" value="<%= product.productMrp %> " disabled> </td>
            </tr>
            <tr>
                <td>   Patient Name  </td>
                <td>  <input name="customerName" type="text" value="<%= customerName  %> " disabled> </td>
            </tr>
            <tr>
                <td>   Quantity  </td>
                <td>  <input type="number" name="sellingQuantity" id="sellingQuantity" value="<%= sellingQuantity %>"disabled ></td>
            </tr>

            <tr>
                <td>  Total Amount  </td>
                <td>   <input id="total-price" name="totalPrice" type="text" value="<%= totalAmount %>" disabled>  </td>
            </tr>
            <tr>
                <td colspan="2">  <input id="print" class="input-button" type="print" value="Print">   </td> 
            </tr>
          </table>
        </form> 
        </div>
      </div>
    </div>
   <script src="/js/sellProduct.js"></script>
  </body>
</html>
