<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Medi-Thinker</title>
</head>
<body>
   <div class="container">
     <!-- Header -->
     <%- include('../include/userHeader.ejs') %>

     <!-- slideshow -->
     <%- include('../include/slideshow.ejs') %>
     <!-- Covid 19 banner -->
     
     <%- include ('../include/covid-19.ejs') %>
     <!-- Product view -->
     <%- include('../include/productDiv.ejs'  ) %>
     <!-- This is fo featured product view -->
     <%- include('../include/productFeatured.ejs') %>

     <!-- This is for about-->
     <%- include('../include/about.ejs') %>

   </div> 
 </body>
</html>